%div#navbar.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "The Dasboard Project", root_path, :class => "brand"
      .nav-collapse.collapse
        %ul.nav
          %li
            = link_to "Home", root_path
          %li
            = link_to "About", about_path
          %li
            = link_to "Contact", contact_path
          %li
            = link_to "Sign Up", new_user_registration_path
      = form_for(@user, :url => user_session_path, :html => {:class =>"navbar-form pull-right"}) do |f|
        .row-fluid
          = f.email_field :email, :class => "span4", :placeholder => "Email Address"
          = f.password_field :password, :class => "span4", :placeholder => "Password"
          = f.submit "Sign in", :class => "span2 btn btn-inverse"
      